/* You can add global styles to this file, and also import other style files */
$border-swan: rgb(229, 229, 229);

body {
    font-family: 'Dosis', sans-serif;

    button {
        font-family: 'Dosis', sans-serif;
    }

    .epa-text {
        // color: rgb(119, 119, 119);
        font-size: 17px;
        font-weight: 600;
        line-height: 25px;
    }

    .epa-text-header {
        font-weight: 700;
    }

    .epa-color-gray {
        color: rgb(229, 229, 229);
    }

}
