<div class="epa-dashboard">
    <div class="epa-dashboard-right-container container-fluid">
        <div class="epa-container">
            <epa-dropdown-item [showCourseSelect]="true"></epa-dropdown-item>
            <epa-quest-list></epa-quest-list>
        </div>
    </div>

    <div class="epa-dashboard-left-container container-fluid">
        <ng-container *ngIf="course$ | async as course">
            <div class="epa-course-header">
                <div class="epa-blank-space"></div>
                <div class="epa-header">
                    <div class="col-8">
                        <h1 class="epa-course-title">
                            {{ course.name }}
                        </h1>

                        <div class="epa-course-description">
                            {{ course.description }}
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="epa-course-test-btn">
                            <button
                                mat-fab
                                extended
                                (click)="openTestConfigModal(course)"
                            >
                                <mat-icon>assignment</mat-icon>
                                DO TEST
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="epa-course-journey mt-2">
                <ul
                    ngbNav
                    #nav="ngbNav"
                    class="nav-tabs"
                    [destroyOnHide]="false"
                >
                    <li [ngbNavItem]="1">
                        <button ngbNavLink>
                            <div class="epa-course-nav-title">Chương trình</div>
                        </button>

                        <ng-template ngbNavContent>
                            @for(unit of (units$ | async); track unit) {
                            <epa-course-unit [unit]="unit"></epa-course-unit>
                            }
                        </ng-template>
                    </li>

                    <li [ngbNavItem]="2">
                        <button ngbNavLink>
                            <div class="epa-course-nav-title">Thống kê</div>
                        </button>

                        <ng-template ngbNavContent>
                            <epa-statistics></epa-statistics>
                            <epa-test-history></epa-test-history>
                            <epa-unit-table></epa-unit-table>
                        </ng-template>
                    </li>
                </ul>

                <div
                    [ngbNavOutlet]="nav"
                    class="epa-course-content mt-2"
                ></div>
            </div>
        </ng-container>
    </div>
</div>
