:host {
    ::ng-deep {
        .dropdown-toggle::after {
            display: none !important;
        }
    }
}

@media (max-width: 900px) {
    .epa-dashboard {
        .epa-dashboard-right-container {
            display: none !important;
        }

        .epa-dashboard-left-container {
            .epa-course-journey {
                height: calc(100% + 90px);
            }
        }
    }
}

@media (min-width: 900px) {
    .epa-dashboard {
        flex-direction: row-reverse;
        padding: 0 24px 24px;

        .epa-dashboard-left-container {
            .epa-course-header {
                .epa-blank-space {
                    background-color: #ffffff;
                    height: 24px;
                }
            }
        }
    }
}

.epa-dashboard {
    display: flex;
    grid-gap: 48px;

    .epa-dashboard-right-container {
        display: flex;
        flex-direction: column;
        position: sticky;
        z-index: 1;
        top: 24px;
        width: 368px;

        .epa-container {
            display: flex;
            flex-direction: column;
            gap: 16px;
            position: sticky;
            top: 24px;
        }
    }

    .epa-dashboard-left-container {
        min-width: 360px;
        max-width: 590px;
        flex: 1;
        position: sticky;
        z-index: 0;
        box-sizing: border-box;

        .epa-course-header {
            padding-left: 0;
            padding-right: 0;
            top: 0;
            position: sticky;
            z-index: 210;
            width: 100%;
            min-height: 82px;

            .epa-header {
                display: flex;
                justify-content: space-between;
                background-color: rgb(255, 150, 0);
                padding: 16px;
                color: #ffffff;
                row-gap: 6px;
                border-radius: 13px;

                .epa-course-title {
                    font-size: 24px;
                    font-weight: 700;
                    line-height: 28px;
                }

                .epa-course-description {
                    font-size: 16px;
                    font-weight: 700;
                    line-height: 24px;
                    opacity: 0.7;
                }

                .epa-course-test-btn {
                    display: flex;
                    flex-direction: row;
                    justify-content: end;
                    align-items: center;
                }
            }
        }

        .epa-course-journey {
            width: calc(100% - 8px);

            .epa-course-unit {
                width: 100%;
                height: fit-content;
                padding: 20px 0;
                display: flex;
                flex-direction: column;
                align-items: center;

                .epa-unit-icon {
                    width: 100px;
                }

                .epa-unit-details {
                    width: 100%;
                    padding: 16px;
                    border: 2px solid rgb(229, 229, 229);
                    border-radius: 16px;

                    .epa-sub-unit {
                        border-radius: 12px;
                        padding: 12px 6px;
                        width: 100%;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        .epa-sub-unit-icon {
                            width: 50px;
                        }

                        .epa-text {
                            width: 100%;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            text-align: center;
                            font-weight: 600;
                        }
                    }

                    .epa-sub-unit-menu {
                        width: max-content;
                        min-width: 220px;
                        color: #ffffff;
                        background-color: rgb(255, 150, 0);
                        padding: 20px;
                        border-radius: 15px;

                        .epa-menu-title {
                            font-size: 19px;
                            font-weight: 700;
                        }

                        .epa-menu-description {
                            font-size: 16px;
                            font-weight: 500;
                            line-height: 26.6px;
                            opacity: 0.9;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        button {
                            width: 100% !important;
                        }
                    }

                    .epa-sub-unit:hover {
                        background-color: #f8f9fa;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// :host {
//     ::ng-deep {
//         .mdc-button__label {
//             font: 700 12.5px 'Dosis', sans-serif;
//             letter-spacing: 0.8px;
//             text-transform: uppercase;
//         }
//     }
// }
