<div class="epa-shop">
    <div class="epa-shop-right-container container-fluid">
        <div class="epa-container">
            <epa-dropdown-item [showCourseSelect]="true"></epa-dropdown-item>
            <epa-quest-list></epa-quest-list>
        </div>
    </div>

    <div class="epa-shop-left-container container-fluid">
        <div class="epa-energies-shop">
            <h2 class="epa-shop-title">Energies</h2>

            <hr />
            <div class="row">
                <div class="col-2">
                    <img
                        class="epa-energies-icon"
                        src="https://d35aaqx5ub95lt.cloudfront.net/images/goals/2b5a211d830a24fab92e291d50f65d1d.svg"
                        alt=""
                    />
                </div>

                <div class="col-7">
                    <div class="epa-item-description">
                        <div class="epa-item-header">Refill Energies</div>

                        <div class="epa-item-details">
                            Get full hearts so you can worry less about making
                            mistakes in a lesson
                        </div>
                    </div>
                </div>

                <div class="col-3">

                </div>
            </div>
        </div>
    </div>
</div>
