.epa-course-unit {
    width: 100%;
    height: fit-content;
    padding: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    .epa-unit-icon {
        width: 100px;
    }

    .epa-unit-details {
        width: 100%;
        padding: 16px;
        border: 2px solid rgb(229, 229, 229);
        border-radius: 16px;

        .epa-sub-unit {
            border-radius: 12px;
            padding: 12px 6px;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .epa-sub-unit-icon {
                width: 50px;
            }

            .epa-text {
                width: 100%;
                overflow: hidden;
                text-overflow: ellipsis;
                text-align: center;
                font-weight: 600;
            }
        }

        .epa-sub-unit-menu {
            width: max-content;
            min-width: 220px;
            color: #ffffff;
            background-color: rgb(255, 150, 0);
            padding: 20px;
            border-radius: 15px;

            .epa-menu-title {
                font-size: 19px;
                font-weight: 700;
            }

            .epa-menu-description {
                font-size: 16px;
                font-weight: 500;
                line-height: 26.6px;
                opacity: 0.9;
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            button {
                width: 100% !important;
            }
        }

        .epa-sub-unit:hover {
            background-color: #f8f9fa;
            cursor: pointer;
        }
    }
}

.epa-practice-creating {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
