@media (min-width: 1000px) {
    .navigation-menu {
        width: calc(56px + 32px);
        left: 0;
        position: fixed !important;
        border-right: 2px solid rgb(229, 229, 229);
        height: 100vh;
        padding: 0 16px;
        .app-icon {
            height: 39px !important;
            padding: 36px 0 25px 10px;
        }
        .app-routes {
            width: 56px !important;
            .app-route-icon {
                height: 48px;
            }
            .app-route-name {
                display: none;
            }
        }
    }
}

@media (min-width: 1160px) {
    .navigation-menu {
        width: calc(224px + 32px) !important;
        .app-icon {
            padding: 32px 0 30px 16px;
        }
        .app-routes {
            width: auto !important;
            .app-route-item {
                min-width: 202px;
                .app-route-item-container {
                    height: 40px;
                    padding: 4px 8px;
                    justify-content: flex-start;

                    .app-route-icon {
                        margin-right: 20px;
                    }

                    .app-route-name {
                        display: initial !important;
                    }
                }
            }
        }
    }

    .nav-icon {
        margin-left: 6px;
    }
}

@media (max-width: 1000px) {
    .navigation-menu {
        height: 82px;
        bottom: 0;
        position: fixed !important;
        gap: 12px;
        display: flex;
        flex-direction: space-between;
        border-right: 2px solid rgb(229, 229, 229);
    }
}

.navigation-menu {
    box-sizing: border-box;
    overflow-y: auto;
    scrollbar-width: none;

    .app-icon {
        height: 60px;
        padding: 32px 0 30px 16px;
        box-sizing: content-box;
    }
    .app-routes {
        box-sizing: content-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 8px;

        .app-route-item {
            border: 2px solid transparent;
            text-decoration: none !important;
            color: initial !important;
            box-sizing: inherit;
            .app-route-item-container {
                display: flex;
                align-items: center;
                flex-direction: row;

                .app-route-icon {
                    display: flex;
                    align-items: center;
                }

                .app-route-name {
                    font-size: 15px;
                    font-weight: 700;
                    letter-spacing: 0.8px;
                    text-transform: uppercase;
                    transition: none;
                }
            }
        }
    }
}

.app-route-item:hover {
    background-color: rgb(247, 247, 247);
    border-radius: 12px;
}

.app-routes .active {
    background-color: rgb(221, 244, 255);
    border: 2px solid rgb(132, 216, 255) !important;
    border-radius: 12px;
}

.nav-icon {
    height: 32px;
    width: 32px;
    padding-right: 0;
    transition: filter 0.2s;
}
