<div class="epa-course-details">
    <div class="epa-course-details-right-container container-fluid">
        <div class="epa-container">
            <epa-dropdown-item></epa-dropdown-item>
            <epa-quest-list></epa-quest-list>
        </div>
    </div>

    <div class="epa-course-details-left-container container-fluid">
        <ng-container *ngIf="course$ | async as course">
            <div class="epa-course-header">
                <div class="epa-blank-space"></div>
                <div class="epa-header">
                    <div class="col-8">
                        <h1 class="epa-course-title epa-text-header">
                            {{ course.name }}
                        </h1>

                        <div class="epa-course-stats">
                            <span
                                class="badge rounded-pill text-bg-secondary me-1"
                            >
                                <i class="bi bi-question-circle-fill me-1"></i>
                                {{ course.stats.totalQuestions | number }} câu
                                hỏi
                            </span>

                            <span class="badge rounded-pill text-bg-primary">
                                <i class="bi bi-broadcast me-1"></i>
                                {{ course.stats.currStudierCount }} bạn đang học
                            </span>
                        </div>
                    </div>

                    <div class="col-4">
                        <div class="epa-course-test-btn">
                            <button
                                mat-fab
                                extended
                                (click)="
                                    openTestConfigModal(course);
                                    $event.stopPropagation();
                                    $event.preventDefault()
                                "
                            >
                                <mat-icon>assignment</mat-icon>
                                DO TEST
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="epa-course-content">
                <epa-statistics></epa-statistics>

                <epa-test-history></epa-test-history>
                <epa-unit-table></epa-unit-table>
            </div>
        </ng-container>
    </div>
</div>
