<div class="epa-test-history">
    <h2 class="epa-test-history-header mb-3">Test history</h2>

    <div class="epa-test-history-list-header row mb-1 px-2">
        <div class="col-4">
            <div class="epa-test-history-item-header">Ngày</div>
        </div>

        <div class="col-4">
            <div class="epa-test-history-item-header">Chế độ</div>
        </div>

        <div class="col-2">
            <div class="epa-test-history-item-header">Điểm</div>
        </div>

        <div class="col-2">
            <div class="epa-test-history-item-header"></div>
        </div>
    </div>

    <div class="epa-test-history-list">
        <ng-container *ngFor="let test of testList$ | async">
            <div class="row epa-test-history-item mb-1 px-2 py-2">
                <div class="col-4">
                    <div class="epa-item-field">
                        {{ test.createdAt | date : 'dd-MM-yyyy' }}
                    </div>
                </div>

                <div class="col-4">
                    <div class="epa-item-field">
                        <span
                            class="badge rounded-pill"
                            [ngClass]="{
                                'text-bg-primary': test.type === TestTypes.Standard,
                                'text-bg-secondary': test.type === TestTypes.Practice,
                            }"
                        >
                            {{ test.type | testType }}
                        </span>
                    </div>
                </div>

                <div class="col-2">
                    <div
                        class="epa-item-field"
                        [ngClass]="{
                            'text-success': test.score >= 700,
                            'text-danger': test.score < 700,
                        }"
                        style="font-weight: 600"
                    >
                        {{ test.score | number }}
                    </div>
                </div>

                <div class="col-2">
                    <div class="epa-item-field">
                        <button class="btn btn-light">
                            <i class="bi bi-arrow-bar-right"></i>
                        </button>
                    </div>
                </div>
            </div>
        </ng-container>
    </div>

    <nav class="epa-pagination mt-1" aria-label="Page navigation">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" (click)="changePage(1)">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>
