<div class="modal-header">
    <h4 class="modal-title">Note</h4>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="dismiss()"
    ></button>
</div>
<div class="modal-body">
    <p>Are you sure you want to close the test?</p>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="dismiss()">
        Cancel
    </button>
    <button type="button" class="btn btn-danger" (click)="closeTest()">
        Close Test
    </button>
</div>
