@media (min-width: 900px) {
    .container {
        padding-left: 88px;
        .main-container {
            padding-top: 24px;
        }
    }
}

@media (min-width: 1200px) {
    .container {
        padding-left: 256px;
        .main-container {
            padding-top: 12px;
        }
    }
}

.container {
    .main-container {
        width: 100%;
        max-width: 1056px;
        margin: 0 auto;
        box-sizing: inherit;
    }
}
