<div
    class="epa-container"
    [class.epa-practice-container]="
        (currRoute$ | async) === APP_ROUTES.PRACTICE
    "
    [class.epa-test-container]="(currRoute$ | async) === APP_ROUTES.TEST"
>
    @if ((currRoute$ | async) !== APP_ROUTES.PRACTICE && (currRoute$ | async)
    !== APP_ROUTES.TEST) {
    <epa-navigation-menu></epa-navigation-menu>
    }
    <div
        [ngClass]="
            (currRoute$ | async) !== APP_ROUTES.TEST
                ? 'epa-main-container'
                : 'epa-main-test-container'
        "
    >
        <router-outlet></router-outlet>
    </div>
</div>
