.epa-card-list {
    padding: 18px;
    padding-bottom: 8px;
    border: 2px solid rgb(229, 229, 229);
    border-radius: 16px;

    .epa-card-list-header {
        font-size: 19px;
        font-weight: 700;
        line-height: 28px;
        margin-bottom: 4px;
        color: rgb(100, 100, 100);
    }
}
