.epa-alert-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1050; /* Bootstrap modal z-index is 1050, so this should be on top */
  width: 360px;

  ngb-alert {
    margin-bottom: 0; /* Remove default margin */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
}
